run = "bash run.sh"
entrypoint = "run.sh"

[nix]
channel = "stable-24_05"

[env]
PYTHONPATH = "backend"

[[ports]]
localPort = 8000
externalPort = 80

[deployment]
run = ["bash", "run.sh"]
deploymentTarget = "autoscale"
