modules = ["python-3.11", "nodejs-20"]
run = "bash run.sh"

[nix]
channel = "stable-24_05"

[deployment]
run = ["bash", "run.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
