@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #090a0f;
    color: #f4f4f5;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom Scrollbar for Screenplay Teleprompter */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #11131c;
}

::-webkit-scrollbar-thumb {
  background: #25293d;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}
